# ignore everything but folders
*
!*/
!.gitignore
!makefile
soi_animations/__pycache__
soi_animations/media


# unignore Tex-File
!soi_pdf/*.tex
!soi_pdf/*.cls
!soi_pdf/*.sty
!soi_pdf/*.bib

!spread_of_infection.pdf


# unignore
!*.c
!*.h
!*.py
!*.ipynb