# ignore everything but folders
*
!*/

!.gitignore
!makefile


# unignore pdf files
!soi_pdf/*.tex
!soi_pdf/*.cls
!soi_pdf/*.sty
!soi_pdf/*.bib

# specifically ignore animation files
soi_animations/__pycache__
soi_animations/media

# specifically unignore full animantions
!soi_animations/*.mp4

# specifically unignore the main pdf
!spread_of_infection.pdf


# general unignore
!*.c
!*.h
!*.py
!*.ipynb
!*.csv
!*.pdf